body{
    background-color: rgb(255, 102, 0);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, ul{
    test-align: center;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}